.LandingPage-container
{
    padding: var(--l);
    height: 93vh;
    width: 95vw; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.title-image
{
    width: 40vw;
    height: 50vh;

    position: absolute;
    top: 5%;
    left: 28%;
}

.LandingPage-button
{
  color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 22px;
  border: var(--salmon) 1px solid;
  border-radius: 10px;
  background: var(--salmon);
  transition: color 0.4s, background 0.4s;
  outline:none;

  width: 22vw;
  height: 12vh;

  position: absolute;
  top: 55%;
  left: 38%;
}

.LandingPage-button:hover {
  color: var(--salmon);
  background-color: white;
}