.Poll-container
{
    margin-top: var(--m);
    margin-left: 0;
}

.Poll-subContainer
{
    flex-basis: 0;
    margin-left: var(--xs);
}

.Poll-sideBar
{
    flex-grow: 1;
    margin-left: var(--xs);
}

.Poll-board
{
    
    flex-grow: 4;
}

.Poll-head
{
    display: flex;
    padding: 0;
    flex-direction: row;
    /* position: relative; */
    align-items: flex-end;
}

.Poll-title
{
    flex-basis: 0;
    flex-grow: 5;
    text-align: center;
    /* position: absolute; */
    bottom: 0;
    /* display: flex; */
    /* align-items: flex-end; */
    align-self: flex-end;
}

.Poll-buttonContainer
{
    flex-grow: 2;
    flex-basis: 0;
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.Poll-button
{
    display: inline-block;
    text-align: center;

    border-radius: var(--xs);
    font-size: small;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    color: white;

    margin: 0px 2px;
    padding: 6px 14px;
    outline: none;

    border: #3b3636 1px solid;
    background-color:#3b3636;
    flex-grow: 2;
}

.Poll-trash {
    display: inline-block;
    text-align: center;
    /* margin: 2px 2px 2px 0px; */
    /* position: absolute; */
    margin: 0px;
    padding: 0px;
    /* bottom: 0; */
    /* justify-content: flex-end; */
    /* display: flex; */
    /* align-items: flex-end; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* align-self: flex-end; */
    flex-grow: 1;

    cursor: pointer;   
}

.Poll-trash:hover
{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.Poll-button:hover 
{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.Poll-delete
{
    background-color: white;
    text-align: center;

    border: var(--darkgrey) 1px solid;
    border-radius: var(--xs);
    font-size: x-large;
    font-family: 'Comfortaa', cursive;
    font-weight: 100;
    color: black;

    margin: 20px var(--m);
    padding: var(--l);
    outline: none;
}

.Poll-decContainer
{
    margin-top: var(--l);
    padding: var(--m) var(--xxl);
    background-color: #ffd966ff;
    border-radius: var(--m);

    align-items: center;
    justify-content: center;
}

.Poll-box
{
    flex-basis: 0;
    flex-grow: 2;
}

.Poll-pfpbox
{
    flex-basis: 0;
    flex-grow: 1;
}

.Poll-subbox
{
    color: var(--darkbrown);
    padding: var(--s);

    align-items: center;
    justify-content: center;
}

.Poll-dec
{
    justify-content: flex-center;
    background-color: var(--deepgrey);
    color: #ffd966ff;
    border-radius: var(--s);
    margin: var(--s);
}

.Poll-dectext
{
    display: inline-block;
}

.Poll-pfp
{
    border-radius: 50%;
}
