.Profile-container {
    display: grid;
    grid-template-columns: 175px 1fr;
    grid-gap: 16px;
    padding: 16px;
    /* height: 400px; */
}

.Profile-pfp {
    border-radius: 50%;
    background-color: aliceblue;
    border: lightblue 1px dashed;
}