.Board-container 
{
    border: var(--darkbrown) 15px solid;
    border-radius: var(--m);

    margin-top: var(--l);
    padding: var(--m) var(--m);

    background-color: var(--lightbrown);
    display: flex;
    
    flex-direction: column;
}

.Board-questionBox {
    border: var(--darkbrown) 2px solid;
    border-radius: var(--s);

    margin: 0 0 var(--xs) 0;
    
    padding: var(--m) var(--l);

    background-color: white;
    /* width: 100%; */
    flex-grow: 1;
    max-width: 75vw;
    overflow-wrap: break-word;
}

.Board-optionsContainer {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    justify-content: flex-start;
    margin: 0 auto;
}

.Board-optionBox {
    /* border: var(--darkbrown) 2px solid; */
    /* border-radius: var(--s); */

    /* margin: 0 0 var(--xs) 0; */
    margin: var(--xs);
    padding: var(--l) var(--l);

    background-color: #ffd966ff;
    /* flex: 0 42%; */
    flex: 0 25%;
    justify-content: space-between;
}

.Board-questionContent
{
    color: var(--darkdarkbrown);
    font-size: 40px;
    margin: var(--s) 0 0;
}

.Board-optionsBlock
{
    padding: var(--m) var(--l);
}

.Board-optionContent
{
    flex-grow: 5;
    flex-basis: 0;
    color: var(--darkbrown);
    font-size: 20px;
    margin: var(--m);
}

.Board-voteContainer
{
    display: flex;
    flex-direction: row-reverse;
}

.Board-votes
{
    color: var(--darkbrown);
    font-size: 10px;
    justify-content: flex-end;
}

.Board-tag {
    display: inline-block;
    text-align: center;
    border-radius: var(--s);
    font-size: small;
    color: white;
    margin: 0px 2px 0px 2px;
    padding: 4px 10px;
}

.Board-tag:hover
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: default;
}

.Board-tagBox
{
    display: flex;
    justify-content: space-between;
}

.Board-owner
{
    display: inline-block;
    text-align: center;
    border-radius: var(--s);
    border: var(--red) 1px solid;
    background-color: white;
    font-size: small;
    color: var(--red);
    margin: 0px 2px 0px 2px;
    padding: 4px 10px;
}
