.ClosePoll-container
{
    background-color: white;
    
    text-align: center;

    border: var(--darkgrey) 1px solid;
    border-radius: var(--xs);
    font-size: small;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    color: black;

    margin: 20px 5px 5px 5px;
    padding: 6px 14px;
    outline: none;
}

.ClosePoll-container:hover
{
    border: var(--blackgrey) 1px solid;
}

.ClosePoll-text
{
    margin: var(--s);
}

.ClosePoll-subbox
{
    padding: var(--s);

    align-items: center;
    justify-content: center;
}

.ClosePoll-yes {
  color: white;
  font-size: 150;
  border: var(--green) 2px solid;
  border-radius: var(--s);
  background: var(--green);
  transition: color 0.1s, background 0.1s;
  outline:none;
  padding: var(--xs) var(--s);
  margin: 0 var(--xs);
}

.ClosePoll-yes:hover {
  border: var(--darkgreen) 2px solid;
}

.ClosePoll-no {
  color: white;
  font-size: 150;
  border: var(--tag-red) 2px solid;
  border-radius: var(--s);
  background: var(--tag-red);
  transition: color 0.1s, background 0.1s;
  outline:none;
  padding: var(--xs) var(--s);
  margin: 0 var(--xs);
}

.ClosePoll-no:hover {
  border: var(--red) 2px solid;
}