.NavBar-container {
    padding: var(--s) var(--m);
    background-color: #fff2ccff;
    /* display: flex; */
  }
  
  .NavBar-title {
    color: #434343;
    font-size: 20px;
    padding-left: var(--m);
    /* text-align: center; */
  }
  
  .NavBar-linkContainer {
    margin-left: var(--l);
  }
  
  .NavBar-link,
  .NavBar-link:visited {
    color: #434343;
    opacity: 0.6;
    text-decoration: none;
  }
  
  .NavBar-link:hover {
    opacity: 0.8;
  }
  
  .NavBar-link.NavBar-login {
    opacity: 1;
  }
  
  .NavBar-link + .NavBar-link {
    margin-left: var(--m);
  }
  