.NavBar-container {
    padding: var(--xs);
    width: 100%;
    background-color: #fff2ccff;
    /* display: flex; */
  }
  
  .NavBar-title {
    color: #3b3636;
    font-size: 30px;
    font-weight: 600;

    position: absolute;
    left: 46%;
    top: 1.5%;
  }
  
  .NavBar-linkContainer {
    margin-left: var(--l);
  }
  
  .NavBar-link,
  .NavBar-link:visited {
    opacity: 0.6;
    text-decoration: none;
  }
  
  .NavBar-link:hover {
    opacity: 0.8;
  }
  
  .NavBar-link.NavBar-login {
    opacity: 1;
  }
  
  .NavBar-link + .NavBar-link {
    margin-left: var(--m);
  }
  