.NewOption-input,
.NewOption-submit 
{
  font-size: 14px;
  margin-top: var(--s);
  padding: var(--s) var(--m);
}

.NewOption-input {
  flex-grow: 1;
  color: var(--lightbrown);
  border: var(--lightbrown) 2px solid;
  border-radius: var(--xs) 0 0 var(--xs);
  transition: box-shadow 0.1s;
}

.NewOption-input:focus-within 
{
  border-color: var(--lightbrown);
  outline: none;
  box-shadow: 0 0 0 var(--xs) var(--green--dim);
}

.NewOption-submit {
  color: var(--darkgreen);
  border: var(--green) 2px solid;
  border-radius: 0 var(--xs) var(--xs) 0;
  background: none;
  transition: color 0.1s, background 0.1s;
  outline:none;
}

.NewOption-submit:hover {
  color: var(--white);
  background-color: var(--green);
}
