.Option-button
{
    /* display: inline-block; */
    text-align: center;

    border-radius: var(--xs);
    font-size: small;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    color: white;

    margin: 0px var(--l);
    padding: 6px 14px;
    outline: none;

    flex-grow: 1;
    flex-basis: 0;
}

.Option-button:hover 
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.Option-remove
{
    border: #3b3636 1px solid;
    background-color:#3b3636;
}

.Option-add
{
    border: var(--tag-red) 1px solid;
    background-color: var(--tag-red);
}