.PollCard-container {
    border: #cfa7d6ff 1px dashed;
    border-radius: 12px;
    background-color: white;
    /* padding-top: var(--m); */
    margin: var(--s);
    /* padding-left: var(--s); */
    padding: 0px 0px 2px 0px;
    width: 30%;
}

div.PollCard-container:hover{
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.PollCard-namebanner {
    margin: 0px 0px 2px 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #cfa7d6ff;
    border-radius: 12px 12px 0px 0px;
}

.PollCard-body {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: var(--xs) 12px; 
}

.PollCard-tag {
    display: inline-block;
    text-align: center;
    border-radius: var(--xs);
    /* background-color: #9fbde8; */
    font-size: x-small;
    color: white;
    margin: 2px 2px 2px 0px;
    padding: 2px 6px;
}

a {
  color: inherit;
  text-decoration: inherit;
}
