.PollCard-container {
    border: #cfa7d6ff 1px dashed;
    border-radius: 12px;
    background-color: white;
    /* padding-top: var(--m); */
    margin: var(--s);
    /* padding-left: var(--s); */
    padding: 0px;
    width: 30%;
}

.PollCard-namebanner {
    margin: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #cfa7d6ff;
    border-radius: 12px 12px 0px 0px;
}

.PollCard-body {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: var(--xs) var(--s); 
}

div.PollCard-container:hover{
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}