.PollCard-container {
    border: #cfa7d6ff 1px dashed;
    border-radius: 12px;
    background-color: white;
    /* padding-top: var(--m); */
    margin: var(--s);
    /* padding-left: var(--s); */
    padding: 0px 0px 2px 0px;
    width: 30%;
    max-width: 275px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-flow: column;
}

div.PollCard-container:hover{
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.PollCard-namebanner {
    margin: 0px 0px 2px 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #cfa7d6ff;
    border-radius: 12px 12px 0px 0px;
}

.PollCard-body {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: var(--xs) 12px; 
    /* position: relative; */
    /* flex-grow: 1; */
}

.PollCard-question
{
    margin-top: var(--m);
    margin-bottom: var(--m);
    overflow-wrap: break-word;
}

.PollCard-tag {
    display: inline-block;
    text-align: center;
    border-radius: var(--xs);
    /* background-color: #9fbde8; */
    font-size: x-small;
    color: white;
    margin: 0px 2px 0px 0px;
    padding: 2px 10px;
}

.PollCard-info {
    width: 100%;
    color: gray;
    font-size: x-small;
    padding: 0px;
    margin: 0px 6px 6px 0px;
    flex-grow: 1;
    /* text-align: right; */
    position: absolute;
    bottom: 0px;
    right: 0px;
}

p {
    padding: 0px;
    margin: 0px;
    position: relative;
    bottom: 0px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.PollCard-picContainer
{
    display: inline;
    display: flex;
    justify-content: flex-end;
}

.PollCard-status
{
    display: flex;
    justify-content: space-between;
}