.PollCard-container {
    border: #cfa7d6ff 1px dashed;
    border-radius: var(--s);
    /* padding-top: var(--m); */
    margin-top: var(--m);
    padding-left: var(--s);
}

.PollCard-namebanner {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #cfa7d6ff;
}