.SharePoll-subbox
{
    padding: var(--s);

    align-items: center;
    justify-content: center;
}

.SharePoll-link
{
  margin-left: var(--m);
  padding: var(--s);
  border: #ffd966ff 1px solid;
  background-color: #ffd966ff;
  border-radius: var(--xs);
}

.SharePoll-box
{
  margin-top: var(--l);
  padding: var(--s);
  border: #ffd966ff 2px solid;
  border-radius: var(--xs);
}

.SharePoll-close {
  color: var(--tag-red);
  border: var(--tag-red) 2px solid;
  border-radius: 5px;
  background: none;
  transition: color 0.1s, background 0.1s;
  outline:none;

  padding: var(--xs) var(--s);
}

.SharePoll-close:hover {
  color: var(--white);
  background-color: var(--tag-red);
}