.SharePoll-subbox
{
    padding: var(--s);

    align-items: center;
    justify-content: center;
}

.SharePoll-link
{
  margin-left: var(--m);
  padding: var(--m);
  border: #ffd966ff 1px solid;
  background-color: #ffd966ff;
  border-radius: var(--s);
}

.SharePoll-box
{
  margin-top: var(--l);
  padding: var(--s);
  background-color: #3d3d3d;
  border: #3d3d3d 1px solid;
  border-radius: var(--m);
}

.SharePoll-close {
  color: white;
  font-size: 150;
  border: var(--tag-red) 2px solid;
  border-radius: var(--s);
  background: var(--tag-red);
  transition: color 0.1s, background 0.1s;
  outline:none;
  padding: var(--xs) var(--s);
}

.SharePoll-close:hover {
  border: var(--red) 2px solid;
}

.SharePoll-text
{
  color: #ffd966ff;
}